{% load basket_form from custom_basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
    {% basket_form request product 'single' as basket_form %}
    <form action="{% url 'basket:add' pk=product.pk %}" method="post">
        {% csrf_token %}

        {% if basket_form.fields|length > 1 %}
	    <ul class="nav add-cart">
	      <li class="dropdown">
	        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span>{% trans "Add to basket" %}<span class="caret"></span></a>
	        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
        	{% include "partials/form_fields.html" with form=basket_form %}
        	<button type="submit" class="btn btn-primary btn-block">{% trans "Add to basket" %}</button>
	        </div>
	      </li>
	    </ul>
	    {% else %}
            {{ basket_form.as_p }}
        	<button type="submit" class="btn btn-primary btn-block">{% trans "Add to basket" %}</button>
    	{% endif %}
    </form>
    <script type="text/javascript">
    	$(function() {
		  // Setup drop down menu
		  $('.add-cart .dropdown-toggle').dropdown();
		 
		  // Fix input element click problem
		  $('.add-cart .dropdown input, .dropdown label').click(function(e) {
		    e.stopPropagation();
		  });
		});

	</script>
{% else %}
    <span class="btn btn-block disabled">{% trans "Add to basket" %}</span>
{% endif %}
