
{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
<div class="thumbnail product">
  {% with image=product.primary_image %}
  {% thumbnail image.original "x155" upscale=False as thumb %}
  <a href="{{ product.get_absolute_url }}">
    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail">
  </a>
  {% endthumbnail %}
  {% endwith %}
  <div class="caption">
    <div class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.get_title|truncatewords:4 }}</a></div>
    <hr>
    <div class="product-price pull-right">
      {% include "catalogue/partials/stock_record.html" %}
    </div>
    <div class="product-link">
      {% if product.is_parent %}
      <a class="btn btn-primary" href="{{ product.get_absolute_url }}">{% trans "Product detail" %}</a>
      {% else %}
      {% include "catalogue/partials/add_to_basket_form_compact.html" %}
      {% endif %}
    </div>
  </div>

  {% iffeature "reviews" %}
  <div class="ratings">
    <p class="star-rating {{ product.rating|as_stars }}">
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
    </p>
  </div>
  {% endiffeature %}

</div>
{% endblock %}
