{% extends widget.get_base_template %}

{% load i18n leonardo_tags applicationcontent_tags %}

{% fragment request "_page_title" %}{% block title %}{% trans 'Password reset email sent' %} | {{ block.super }}{% endblock %}{% endfragment %}

{% block content %}
    <p>
    {% blocktrans %}
        We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}
        If you don't receive an email, please make sure you've entered the address you registered with, and check
        your spam folder.
    {% endblocktrans %}
    </p>
{% endblock %}
