{% extends "widget/base.html" %}

{% load i18n %}

{% block content %}
<ul class="{% if widget.inline %}horizontal{% else %}vertical{% endif %}">
	<li><a class="button" href="{% url 'customers:profile-view' %}"><span><span>{% trans "My Account" %}</span></span></a></li>
	<li><a class="button" href="{% url 'basket:summary' %}"><span><span>{% trans "My Cart" %}{% if cart.numItems > 0 %} ({{ cart.numItems }}){% endif %}</span></span></a></li>
	{% if cart.numItems > 0 %}
	<li><a class="button" href="{% url 'checkout:index' %}"><span><span>{% trans "Check Out" %}</span></span></a></li>
	{% endif %}
	{% if request.user.is_authenticated %}
	<li><a class="button" href="{% url 'logout' %}"><span><span>{% trans "Log Out" %}</span></span></a></li>
	{% else %}
	<li><a class="button" href="{% url 'login' %}"><span><span>{% trans "Log In" %}</span></span></a></li>
	{% endif %}
</ul>
{% endblock %}
