include MANIFEST.in
include README.rst
recursive-include leonardo_module_eshop/static *
recursive-include leonardo_module_eshop/locale *
recursive-include leonardo_module_eshop/templates *

recursive-include eshop_paypal/static *
recursive-include eshop_paypal/locale *
recursive-include eshop_paypal/templates *

recursive-include eshop_stores/static *
recursive-include eshop_stores/locale *
recursive-include eshop_stores/templates *