{% extends widget.get_base_template %}
{% load i18n satchmo_category %}
{% load applicationcontent_tags %}

{% block content %}

{% fragment request "_page_title" %}{% block page_title %}{% trans 'Wishlist' %}{% endblock %}{% endfragment %}


{% if request.user.is_authenticated %}
<p class="warning">{% blocktrans %}You are authenticated but need to set up your contact information.{% endblocktrans %}</p>
<div class="buttonset">
	<a class="link" href="{% url webcms.module.store.apps.accounts/webcms_store_account_update %}">{% trans "Setup Contact Information" %}</a>
</div>
{% else %}
<p class="warning">{% blocktrans %}Sorry, you must be logged in to access your wishlist.{% endblocktrans %}</p>
<div class="buttonset">
	<a class="link" href="{% url webcms.module.store.apps.auth/webcms_store_login %}">{% trans "Log In" %}</a>
</div>
{% endif %}
{% endblock %}
