{% extends "widget/base.html" %}

{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_discounts %}
{% load normalize_decimal %}
{% load thumbnail %}

{% block content %}
{% url webcms.module.store.apps.cart/webcms_store_cart as store_cart %}
{% if cart_count == 0 %}
<p class="amount">{% trans "You have no items in your shopping cart." %}</p>
{% else %}
<p class="amount">{% if cart.numItems > 1 %}{% trans "There are" %}{% else %}{% trans "There is" %}{% endif %}
	<a href="{{ store_cart }}">{% if cart.numItems > 1 %}{{ cart.numItems|normalize_decimal }} {% trans "items" %}{% else %}1 {% trans "item" %}{% endif %}</a> {% trans "in your cart" %}.
</p>
{% endif %}
{% endblock %}
