
// Store actions widget

.leonardo-storeactions-widget .text-right .navbar-nav {
  float: right;
}

// Product catalog

.product.thumbnail .caption {
  padding: 9px 9px 0px 9px;
}

.product-title a {
  font-size: 1.2em;
  color: #666;
  font-weight: 600;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: #428bca;
  }
}

