{% extends widget.get_base_template %}

{% load i18n %}

{% block content %}
<ul class="horizontal">
	<li><a class="button" href="{% url 'customers:profile-view' %}"><span><span>{% trans "My Account" %}</span></span></a></li>
	<li><a class="button"href="{% url 'customer:change-profile' %}"><span><span>{% trans "Change Account Information" %}</span></span></a></li>
	<li><a class="button" href="{% url 'customer:change-password' %}"><span><span>{% trans "Change Password" %}</span></span></a></li>
	{% if wishlist %}
	<li><a class="button" href="{% url 'customer:wishlists-list' %}"><span><span>{% trans "Favorite Items" %}</span></span></a></li>
	{% endif %}
	<li><a class="button" href="{% url 'customer:order-list' %}"><span><span>{% trans "Order History" %}</span></span></a></li>
</ul>
{% endblock %}
