{% extends widget.get_base_template %}

{% load i18n %}

{% block content %}
<a class="btn btn-primary{% if not widget.inline %} btn-block{% endif %}" href="{% url 'customers:profile-view' %}">{% trans "My Account" %}</a>
{% if wishlist %}
<a class="btn btn-primary{% if not widget.inline %} btn-block{% endif %}" href="{% url 'customer:wishlists-list' %}">{% trans "Favorite Items" %}</a>
{% endif %}
<a class="btn btn-primary{% if not widget.inline %} btn-block{% endif %}" href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
{% endblock %}
