{% extends widget.get_base_template %}

{% load i18n %}
{% load normalize_decimal %}

{% block content %}
<ul class="vertical">
	{% if account_dashboard == request.path_info %}
	<li><strong>{% trans "My Account" %}</strong></li>
	{% else %}
	<li><a href="{% url 'customers:profile-view' %}">{% trans "My Account" %}</a></li>
	{% endif %}
	{% if account_update == request.path_info %}
	<li><strong>{% trans "Change Account Information" %}</strong></li>
	{% else %}
	<li><a href="{% url 'customer:change-profile' %}">{% trans "Change Account Information" %}</a></li>
	{% endif %}
	{% if password_change == request.path_info %}
	<li><strong>{% trans "Change Password" %}</strong></li>
	{% else %}
	<li><a href="{% url 'customer:change-password' %}">{% trans "Change Password" %}</a></li>
	{% endif %}
	{% if wishlist %}
	{% if wishlist == request.path_info %}
	<li><strong>{% trans "Favorite Items" %}</strong></li>
	{% else %}
	<li><a href="{% url 'customer:wishlists-list' %}">{% trans "Favorite Items" %}</a></li>
	{% endif %}
	{% endif %}
	{% if order_list == request.path_info %}
	<li><strong>{% trans "Order History" %}</strong></li>
	{% else %}
	<li><a href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a></li>
	{% endif %}
	{% if contact == request.path_info %}
	<li><strong class="last">{% trans "Contact Us" %}</strong></li>
</ul>
{% endblock %}
