{% load category_tags %}

{% category_tree as tree_categories %}
{% if tree_categories %}
<ul class="nav nav-list">
    {% for tree_category, info in tree_categories %}
        <li>
        {% if tree_category.pk == category.pk %}
            <strong>{{ tree_category.name }}</strong>
        {% else %}
            <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
        {% endif %}

        {% if info.has_children %}<ul>{% else %}</li>{% endif %}
        {% for n in info.num_to_close %}
            </ul></li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}
{% if has_facets %}
{% for field, data in facet_data.items %}
    {% if data.results %}
        {% include 'search/partials/facet.html' with name=data.name items=data.results %}
    {% endif %}
{% endfor %}
{% endif %}

<ul class="vertical">
{% for root in category_list %}
{% if root.id == level_0.id %}
<li class="{% if root.id  == category_current.id %}active{% else %}subactive{% endif %}">
	<a href="{{ root.get_absolute_url }}">{{ root.translated_name|capfirst }}</a>
	{% for level_1_category in root.child.all %}
	{% if forloop.first %}<ul>{% endif %}
	{% if level_1_category.id == level_2.id %}
		{% if level_1_category.is_active %}
		<li class="{% if level_1_category.id  == category_current.id %}active{% else %}subactive{% endif %}"><a href="{{ level_1_category.get_absolute_url }}">{{ level_1_category.name|capfirst }}</a></li>
		{% endif %}
	{% else %}
		{% if level_1_category.is_active %}
		<li><a href="{{ level_1_category.get_absolute_url }}">{{ level_1_category.name|capfirst }}</a></li>
		{% endif %}
	{% endif %}
	{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
</li>
{% else %}
<li><a {% if forloop.last %}class="last"{% endif %} href="{{ root.get_absolute_url }}">{{ root.name|capfirst }}</a></li>
{% endif %}
{% endfor %}
</ul>
