{% extends widget.get_base_template %}
{% load i18n %}
{% load promotion_tags %}
{% load category_tags %}

{% block layout %}
<header class="header container-fluid">
    {% block checkout_nav %}{% endblock %}
</header><!-- /header -->

<div class="container-fluid page">
   <div class="page_inner">

        {% block content %}
        {% endblock %}

        <div id="promotions">
            {% for promotion in promotions_page %}
                {% render_promotion promotion %}
            {% endfor %}
        </div>
    </div><!-- /page_inner -->
</div>
{% include "partials/footer_checkout.html" %}
{% endblock %}
