{% extends "checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Payment method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}
    <div class="basket-title">
        <div class="row-fluid">
            <h4 class="span8">{% trans "Method" %}</h4>
        </div>
    </div>
    {% for method in methods %}
        <div class="basket-items">
            <div class="row-fluid">
                <div class="span8">
                    <h4>{{ method.name }}</h4>
                    {% if method.description %}
                        <p>{{ method.description|safe }}</p>
                    {% endif %}
                </div>
                <div class="span3">
                    <form method="post" action="{% url 'checkout:payment-method' %}">
                        {% csrf_token %}
                        <input type="hidden" name="method_code" value="{{ method.code }}" class="btn" />
                        <button type="submit" class="btn btn-large btn-primary pull-right">{% trans "Select option" %}</button>
                    </form>
                </div>    
            </div>
        </div>
    {% endfor %}
{% endblock shipping_method %}
