{% extends "checkout/checkout.html" %}
{% load i18n %}
{% load  fragment from applicationcontent_tags %}

{% block order_contents %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
{% block payment_details %}{% endblock %}

{% block shipping_address %}

    {% fragment request "_page_title" %}{% block page_title %}{% trans "Delete address?" %}{% endblock %}{% endfragment %}
    {% fragment request "current_brand" %}{% block current_brand %}{% include 'checkout/nav.html' with step=1 %}{% endblock %}{% endfragment %}

    <form action="." method="post">
        {% csrf_token %}
        <div class="well">
            <address>
                {% for field in object.active_address_fields %}
                    {{ field }}<br/>
                {% endfor %}
            </address>
        </div>
        <p>{% trans "Are you sure you want to delete this address?" %} <button type="submit" class="btn btn-danger">{% trans "Yes!" %}</button>
            {% trans "or" %} <a href="{% url 'checkout:shipping-address' %}">{% trans "cancel" %}</a>.</p>
    </form>
{% endblock shipping_address %}
