{% extends "shop/checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo_currency %}
{# this is the credit-card confirm template #}

{% block errorheader %}{% trans 'Please Note:' %}{% endblock %}

{% block payment_display %}
<h3>{% trans "Payment" %}</h3>
{% if giftcert %}
{% with giftcert.code as giftcode %}
{% with giftcert.balance|currency as balance %}
{% blocktrans %}About to use your gift certificate: {{ giftcode }}, which has a balance of {{ balance }}.{% endblocktrans %}
{% endwith %}
{% endwith %}
{% else %}
{% trans 'About to use INVALID gift certificate' %}
{% endif %}
{% endblock %}