{% extends "widget/base.html" %}

{% load i18n %}
{% load normalize_decimal %}

{% block content %}
{% url webcms.module.store.apps.accounts/webcms_store_account_dashboard as webcms_store_account_dashboard %}
{% url webcms.module.store.apps.cart/webcms_store_cart as webcms_store_cart %}
{% url webcms.module.store.apps.payment/webcms_store_checkout_step1 as webcms_store_checkout_step1 %}
{% url webcms.module.store.apps.auth/webcms_store_logout as webcms_store_logout %}
{% url webcms.module.store.apps.auth/webcms_store_login as webcms_store_login %}
<ul class="{% if widget.inline %}horizontal{% else %}vertical{% endif %}">
	<li><a href="{{ webcms_store_account_dashboard }}">{% trans "My Account" %}</a></li>
	<li><a href="{{ webcms_store_cart }}">{% trans "My Cart" %}{% if cart.numItems > 0 %} ({{ cart.numItems|normalize_decimal }}){% endif %}</a></li>
	{% if cart.numItems > 0 %}
	<li><a href="{{ webcms_store_checkout_step1 }}">{% trans "Check Out" %}</a></li>
	{% endif %}
	{% if request.user.is_authenticated %}
	<li><a class="last" href="{{ webcms_store_logout }}">{% trans "Log Out" %}</a></li>
	{% else %}
	<li><a class="last" href="{{ webcms_store_login }}">{% trans "Log In" %}</a></li>
	{% endif %}
</ul>
{% endblock %}
