{% extends widget.get_base_template %}

{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="navbar-collapse collapse" id="navbar-secondary">

    <ul class="nav navbar-nav{% if widget.align == 'right' %} navbar-right{% endif %}">

        {% if request.basket.num_lines %}
        <li class="dropdown" id="quick-cart-menu">
            <a class="dropdown-toggle clearfix" role="button" href="#" id="quick-cart">
              <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
              <div class="cart-text">
                <span>{% trans 'Your Cart' %}</span>
                <hr>
                <span>
                {% if request.basket.is_tax_known %}
                  {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                {% else %}
                  {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                {% endif %}
                </span>
              </div>
            </a>
            <ul class="dropdown-menu basket-mini-item unstyled" aria-labelledby="quick-cart" style="width:350px;padding:12px;">
                {% for line in request.basket.all_lines %}
                    <li class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="image_container">
                                    {% with image=line.product.primary_image %}
                                        {% thumbnail image.original "100x100" upscale=False as thumb %}
                                        <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"></a>
                                        {% endthumbnail %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p><strong><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></strong></p>
                            </div>
                            <div class="col-md-2 text-center"><strong>{% trans "Qty" %}</strong> {{ line.quantity }}</div>
                            {% if request.basket.is_tax_known %}
                            <div class="col-md-4 price_color text-right pull-right">{{ line.unit_price_incl_tax|currency:request.basket.currency }}</div>
                            <div class="col-md-4 text-muted text-right pull-right">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</div>
                            {% else %}
                            <div class="col-md-8 price_color text-right pull-right">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
                <li class="text-center">
                    <p class="pull-right">
                        {% if request.basket.is_tax_known %}
                            <small>{% trans "Total:" %} {{ request.basket.total_incl_tax|currency:request.basket.currency }}</small> 
                        {% else %}
                            <small>{% trans "Total:" %} {{ request.basket.total_excl_tax|currency:request.basket.currency }}</small> 
                        {% endif %}
                    </p>
                    <div class="btn-group">
                        <a type="button" href="{% url 'basket:summary' %}" class="btn btn-info btn-small pull-left">{% trans "View basket" %}</a>
                        <a type="button" href="{% url 'checkout:index' %}" class="btn btn-primary btn-small pull-right">{% trans "Checkout" %}</a>
                    </div>
                </li>
            </ul>
        </li>
        {% else %}
            <li>
                <a class="clearfix" role="button" href="#" id="quick-cart">
                   <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                   <div class="cart-text">
                     <span>{% trans 'Your Cart' %}</span>
                     <hr>
                     <span>0.00 {{ request.basket.currency }}</span>
                   </div>
                 </a>
            </li>
        {% endif %}
        
    </ul>
</div>

<script>
$('#quick-cart-menu').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
});
</script>

{% endblock content %}
