{% extends "widget/base.html" %}

{% load i18n %}

{% block content %}
{% url webcms.module.store.apps.cart/webcms_store_cart as webcms_store_cart %}
{% url webcms.module.store.apps.payment/webcms_store_checkout_step1 as webcms_store_checkout_step1 %}
<ul class="vertical">
{% if request.path_info == webcms_store_checkout_step1 %}
	{% if webcms_store_checkout_step1 %}
	<li><strong>{% trans "Payment Method" %}</strong></li>
	{% endif %}
	<li class="inactive"><strong>{% trans "Shipping Method" %}</strong></li>
	<li class="inactive"><strong>{% trans "Order Review" %}</strong></li>
{% endif %}
</ul>
{% endblock %}
