{% extends widget.get_base_template %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block content %}

{% if has_facets %}
<h4>{% trans "Refine by" %}</h4>
<div class="side_categories">
{% for field, data in facet_data.items %}
    {% if data.results %}
    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
    {% endif %}
{% endfor %}
</div>
{% endif %}

<form method="get" class="form-horizontal clearfix">
<div >
{% for value in selected_facets %}
    <input name="selected_facets" value="{{ value }}" />
{% endfor %}
{{ form.q }}
</div>

{% if form %}
    <div class="pull-right">
        {% include "partials/form_field.html" with field=form.order_by %}
    </div>
{% endif %}

</form>

{% if products %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 {% if forloop.counter0|divisibleby:"4" %}no-margin{% endif %}">
        {% render_product product %}
    </div>
    {% endfor %}
    {% include "partials/pagination.html" %}
</div>
{% else %}
<div role="alert" class="alert alert-info">{% trans "No products found." %}</div>
{% endif %}

<script type="text/javascript">
$( document ).ready(function() {
  $('#id_order_by').change(
    function(){
      $(this).closest('form').trigger('submit');
    });

  var product = $(".product"),
      max_height = 0,
      this_height = 0;

  product.each(function() {
    this_height = $(this).height();
    max_height = this_height > max_height ? this_height : max_height;
  });

  product.height(max_height);
});

</script>

{% endblock content %}
