{% extends "catalogue/browse.html" %}

{% load i18n %}
{% load applicationcontent_tags %}

{% block content %}

{% fragment request "_breadcrumbs" %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ widget.parent.get_absolute_url }}">{% trans "Home" %}</a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock %}
{% endfragment %}
    {% fragment request "_page_title" %}{% block page_title %}{{ category.name }}{% endblock %}{% endfragment %}
    {% if category.description %}
        <div class="row-fluid">
            <div class="span9"><p>{{ category.description|safe }}</p></div>
            {% if category.image %}
                <div class="span3"><img src="{{ category.image.url }}" alt="{{ category.name }}" /></div>
            {% endif %}
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
