{% extends "catalogue/detail.html" %}
{% load i18n %}

{% block product_review %}
    <div id="addreview" class="review_add">
        <form id="add_review_form" method="post" action="./#addreview">
            <fieldset>
                <legend>{% trans "Leave a product review" %}</legend>
                {% csrf_token %}
                
                {% include 'partials/form_field.html' with field=form.title %}

                {% include 'partials/form_field.html' with field=form.score %}

                {% include 'partials/form_field.html' with field=form.body %}

                {% if not user.is_authenticated %}
                {% include 'partials/form_field.html' with field=form.name %}
                {% include 'partials/form_field.html' with field=form.email %}
                {% endif %}

                <button type="submit" class="btn btn-primary btn-large">{% trans "Save review" %}</button>
                {% trans "or" %}
                <a href="{{ product.get_absolute_url }}">{% trans "cancel" %}</a>
            </fieldset>
        </form>
    </div>
{% endblock %}
