{% extends "widget/base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load applicationcontent_tags %}
{% load webcms_store_tags %}

{% block current_brand %}{{ brand.id }}{% endblock %}

{% block head_title %}
{% trans "Brands" %} &rsaquo; {{ brand.translation.name }}
{% endblock %}

{% block page_title %}
{{ brand.translation.name }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url webcms.module.store.apps.brand/webcms_store_brand_list %}">{% trans "Brands" %}</a></li>
{% if brand.brand %}<li><a href="{% url webcms.module.store.apps.brand/webcms_store_brand brand.brand.slug %}">{{ brand.brand.translation.name }}</a></li>{% endif %}
<li><strong>{{ brand.translation.name }}</strong></li>
{% endblock %}

{% block content %}

{% with brand.translation as object %}
<div class="object-detail brand_detail ui-helper-clearfix">
	{% if object.picture %}
	{% thumbnail object.picture "x65" format="PNG" as image %}
	<a class="object-image"><img alt="{{ object.name }}" src="{{ image.url }}" /></a>
	{% endthumbnail %}
	{% endif %}
	<div class="object-text">
		{{ object.description|safe }}
	</div>
</div>
{% endwith %}

{% if brand.has_categories %}
<div class="brand-categories">
	<h4>{% trans 'View more products in these categories' %}</h4>
	{% for cat in brand.active_categories %}{% with cat.translation as translatedcat %}
	<div class="brandImage">
	{% thumbnail translatedcat.picture "85x85" as image %}
	<a href="{{ cat.get_absolute_url }}"><img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" />
		<br/>
		<a href="{{ cat.get_absolute_url }}">{{ translatedcat.name }}</a>
	</div>
	{% endthumbnail %}
	{% endwith %}{% endfor %}
</div>
{% endif %}

{% if brand.has_content %}
{% product_list 'brand' brand %}
{% endif %}

{% if sale %}
{% include "product/some_discount_eligible.html" %}
{% endif %}

{% set_last_url request %}
{% endblock %}
